*{
    margin: 0;
    padding: 0;
}

body{
    background-position: center;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
    background: linear-gradient(135deg, #ff7800,white);

}

.joinform{
    width: 800px;
    background-color: white;
    margin: auto;
    color:#ff7800;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 5px 0px 0px;
}

.main{
    background-color: white;
    width: 800px;
    margin: auto;
}

form{
    padding: 10px;
}

#name{
    width: 100%;
    height: 100px;
}

.name{
    margin-left: 25px;
    margin-top: 30px;
    width: 125px;
    color: #ff7800;
    font-size: 18px;
    font-weight: 700;
}

.firstname{
    position: relative;
    left: 200px;
    top : -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}

.lastname{
    position: relative;
    left: 417px;
    top : -80px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}

.firstlabel{
    position: relative;
    color: #ff7800;
    text-transform: capitalize;
    font-size: 14px;
    left: 203px;
    top: -45px;
}

.lastlabel{
    position: relative;
    color: #ff7800;
    text-transform: capitalize;
    font-size: 14px;
    left: 170px;
    top: -45px;
}

.address{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 480px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}

.age{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 25px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}

.email{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 480px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}

.code{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 95px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}

.number{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 255px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}

.area-code{
    position: relative;
    left: 54px;
    top: -4px;
    font-size: 16px;
    color: #ff7800;
    text-transform: capitalize;
}

.phone-number{
    position: relative;
    left: -100px;
    top: -2px;
    font-size: 16px;
    color: #ff7800;
    text-transform: capitalize;
}

.reasons{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 100px;
    width: 480px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}

.JenisBarang{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 480px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}

.BeratBarang{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 25px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}

.option{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 532px;
    height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    outline: none;
    overflow: hidden;
}

.option option{
    font-size: 20px;
}

.JasaPengirim{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 255px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}

.jasa-pengiriman{
    position: relative;
    left: -100px;
    top: -2px;
    font-size: 16px;
    color: #ff7800;
    text-transform: capitalize;
}

.NoResi{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 480px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}

.BuktiBarang{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 480px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}


button{
    background-color: #ff7800;
    display: block;
    margin: 20px 0px 0px 20px;
    text-align: center;
    border-radius: 12px;
    border: 2px solid #366473;
    padding: 14px 110px;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.25px;
    font-size: 18px;
}

button:hover{
    background-color: #5b5f97;
}

form .genderDetails .genderTitle{
    font-size: 20px;
    margin-left: 25px;
    color:#ff7800;
    font-style: bold;
}
form .genderDetails .category{
    display: flex;
    width: 40%;
    margin-left: 25px;
    margin-top: 15px;
    justify-content: space-between;
}
form .genderDetails .category label{
    display: flex;
    align-items: center;
}
form .genderDetails .category .dot{
    height: 18px;
    width: 18px;
    background: #D9D9D9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
}
#dot1:checked ~ .category label .one,
#dot2:checked ~ .category label .two{
    border-color: white;
    background: #ffc145;
}
form input[type="radio"]{
    display: none;
}
